@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Belleza', sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

/*-------------------------------PRIMEIRA SESSÃO------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/

header {
    display: flex;
    justify-content: start;
    height: 840px;

}

    aside#header-esquerdo{
        display: flex;
        justify-content: center;
        z-index: 1;
        align-items: center;
        width: 60%;
        background-color: #FFFFFF;
        height: 840px;
    }
        #info{
            width: 70%;
            margin: auto;
            z-index: 10;
        }
            #logo-nome{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 40px;
            }
            
            #info h2{
                color: #BE100F;
                margin-top: 20px;
                font-weight: 300;
            }

            #info strong#stg1{
                color: #BE100F;
                font-weight: 600;
                font-size: 24px;
            }

            #info h3{
                margin-top: 10px;
                margin-bottom: 25px;
                font-weight: 300;
                font-size: 19px;
                line-height: 125%;
            }

            #info span{
                color: #BE100F;
                font-size: 20px;
                font-weight: 600;
            }

            button{
                text-decoration: none;
                width: 100%;
                padding: 12px;
                font-size: 19px;
                border-radius: 5px;
                border: 2px solid #BE100F;
                color: #BE100F;
                font-weight: bold;
                cursor: pointer;
                background-color: #FFFFFF;
                transition: 500ms;
            }

                button:hover{
                    background-color: #BE100F;
                    color: #FFFFFF;
                }

            #info p{
                color: #BE100F;
                font-size: 12px;
                font-style: italic;
                margin-left: 5px;
                margin-top: 5px;
            }

        video{
            position: absolute;
            right: 0px;
            width: 720px;
            height: 840px;
            object-fit: cover;
        }

    aside#header-direito{
        display: flex;

    }




/*-------------------------------SEGUNDA SESSÃO------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/




section#info-extra{
    display: flex;
    background-color: #F90000;
}

section#barra-info-extra{
    background-color: #FF0000;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 40px auto;
}

    #barra-info-extra h3{
        display: flex;
        flex-direction: column;
        font-size: 25px;
        font-weight: normal;
        margin: auto;
        color: #FFFFFF;
        align-items: center;
        text-align: center;
        background-color: transparent;
    }    

    #barra-info-extra img{
        margin-bottom: 15px;
        width: 75px;
        margin-top: 35px;
        background-color: transparent;
    }




/*-------------------------------TERCEIRA SESSÃO------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/




section#area-info-professor{
    display: flex;
    margin: auto;
    height: 740px;
    width: 90%;
    background-color: #FFFFFF;
}

    #img-professor{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #img-professor img{
        width: 90%;
        max-width: 400px;
        border-radius: 10px;
    }

    #info-professor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;
        width: 50%;
    }

        #info-professor h1{
            font-size: 4vw;
            font-weight: 500;
        }

        #info-professor h3{
            border-top: 1px solid #F90000;
            margin-top: 25px;
            font-weight: 300;
            padding-top: 25px;
            font-size: 19px;
        }
        #info-professor button{
            font-size: 19px;
        }

        .strong-red{
            color: #DF0000;
        }




/*-------------------------------QUARTA SESSÃO------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/




section#info-adicionais{
    display: flex;
    text-align: center;
    margin: auto;
    height: auto;
    width: 90%;
    background-color: #FFFFFF;
    border-top: 1px solid #F90000;
    border-bottom: 1px solid #F90000;
}

    #quarta-sessao-topo{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 60px auto;
    }

        #quarta-sessao-topo h2{
            font-size: 4vw;
            font-weight: 500;
            margin-bottom: 45px;
        }

        section#quadro-imgs{
            display: flex;
            justify-content: center;
            width: 80%;
        }
            #quadro{
                display: flex;
                overflow: hidden;
                overflow-x: visible;
            }
            img.img-fb{
                margin: 10px;
                width: 350px;
                
            }

            #info-btn-maps{
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 50%;
                margin-top: 20px;
            }

                #info-btn-maps h3{
                    font-weight: 500;
                    padding-bottom: 20px;
                    font-size: 19px;
                }

        #quarta-sessao-topo button{
            width: 70%;
        }



                
/*-------------------------------QUINTA SESSÃO------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------*/





    #turmas-box{
        background-color: transparent;
        width: 100%;
        margin: auto;
        height: 784px;
        margin-bottom: 50px;
    }

        #turmas-box img{
            background-color: transparent;
        }

        #bg-tintas{
            height: 834px;
            display: flex;
            justify-content: space-between;
            align-items: end;
        }

            img#left{
                width: 15vw;
                position: relative;
                object-fit: contain;
                left: 0px;
                z-index: 0;
            }

            img#right{
                width: 15vw;
                position: relative;
                object-fit: contain;
                right: 0px;
                z-index: 0;
                
            }

        #turmas-depoimentos{
            background-color: transparent;
            top: -834px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 90%;
            
        }
        
        #cabecalho-depoimento h2{
            font-size: 4vw;
            font-weight: 500;
            margin-top: 60px;
        }
        
        #caixa-rolante{
            margin: 45px;
            display: flex;
            width: 100%;
            max-width: 680px;
            overflow: hidden;
            overflow-x: visible;
            background-color: transparent;
            }

            .card-depoimento{
                z-index: 1;
                margin: 20px;
                width: 300px;
                height: 508px;
                border: 2px solid #BE100F;
                border-radius: 15px;
                background-color: #FFFFFF;

            }

                .card-depoimento video{
                    position: relative;
                    width: 296px;
                    height: 420px;
                    border-radius: 14px;
                }

                .card-depoimento footer{
                    position: relative;
                    top: -17px;
                    width: 296px;
                    height: 100px;
                    background-color: #BE100F;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
                .card-depoimento h3{
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    text-align: center;
                    align-items: center;
                    height: 100px;
                    background-color: transparent;
                    width: 80%;
                    font-size: 2vh;
                    font-weight: 400;
                    color: #FFFFFF;
                }

                #depoimento-escrito{
                    display: flex;
                    flex-direction: column-reverse;
                    width: 300px;
                    height: 423px;
                    background-color: transparent;
                }
                #depoimento-escrito img{
                    width: 80px;
                    height: 150px;
                    margin: 0 auto;
                    margin-bottom: 0px;
                }

                #depoimento-escrito h4{
                    font-size: 2vh;
                    padding: 20px;
                    height: 250px;
                    background-color: transparent;
                }







/*--------------------------------------AREA CTA------------------------------------------*/




section#area-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(230,188,5,1) 0%, rgba(233,67,9,1) 50%, rgba(190,16,15,1) 100%);
    background-size: 600% 100%;
    animation: degrade-animado 5s infinite alternate;
}
section#btn-cta{
    width: 90%;
    background-color: transparent;
}

    #btn-cta h2{
        color: #FFFFFF;
        background-color: transparent;
        font-size: 3vw;
        font-weight: 500;
        margin-top: 100px;
    }

    #btn-cta h3{
        margin-top: 40px;
        font-size: 22px;
        color: #FFFFFF;
        background-color: transparent;
    }

    span#cor{
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        padding: 10px;
        font-size: 3vw;
        font-weight: 600;
        border-radius: 5px;
    }
    #btn-cta strong{
        padding: 10px;
        font-weight: 700;
        color: #BE100F;
        background: #FFFFFF;
        border-radius: 5px;
    }
    #btn-cta button, a{
        width: 80%;
        margin-top: 20px;
        margin-bottom: 50px;
        background-color: transparent;
    }

    #btn{
        background-color: transparent;
        width: 70%;
        margin: auto;
    }
    
    button#btn-btn{
        background-color: #e6bc05;
        color: #BE100F;
        border: 1px solid #FFFFFF;
        font-size: 19px;
        box-shadow: 2px 2px #000000;
    }

    #btn-btn:hover{
        color: #BE100F;
        border: 1px solid #FFFFFF;
        background: rgb(245, 241, 30);
    }





        




/*-------------------------------SETIMA SESSÃO------------------------------------------*/




section#duvidas-geral{
    border-top: 10px solid #BE100F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #BE100F;
    width: 100%;
}

@keyframes degrade-animado{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

    section#duvidas{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 65px;
        background-color: #BE100F;
    }

        #duvidas h2{
            font-size: 4vw;
            font-weight: 500;
            margin-bottom: 60px;
            background-color: transparent;
            color: #FFFFFF;
        }

        .container {
            box-shadow: 8px 10px 5px #0003;
            width: 80%;
            max-width: 900px;
            background-color: #FFFFFF;
            border-radius: 5px;
            padding: 5px;
            margin: auto 5px;
        }
          
            .content {
                display: flex;
                flex-direction: column;
                gap: 5px;
                background-color: transparent;
            }
            
            .accordion_item {
                border-radius: 5px;
                background-color: #BE100F;
            }
            
            .accordion_item:hover {
                opacity: 0.9;
                background-color: #c71d1d;
            }
            
            .accordion_header {
                padding: 10px;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                background-color: transparent;
                font-size: 18px;
            }
            
            .accordion_content {
                margin-left: 10px;
                margin-right: 15px;
                overflow: hidden;
                height: 0;
                transition: all .5s ease;
                font-size: 16px;
                background-color: transparent;
            }
            
            .active {
                padding-bottom: 10px;
                background-color: transparent;
            }
            
            span, .icon {
                font-weight: 600;
                background-color: transparent;
                color: #FFFFFF;
            }
            
            p {
                text-align: justify;
                background-color: transparent;
                color: #FFFFFF;
            }





/*-------------------------------SETIMA SESSÃO------------------------------------------*/


#roda-pe{
    height: auto;
    border-top: 1px solid #7e7e7e;
    background-color: #dfdfdf;
    justify-content: space-between;
}

    #redes{
        background-color: transparent;
    }

.cima-roda-pe {
    width: 90%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}

.cima-roda-pe img{
    background-color: transparent;
}

.cima-roda-pe p{
    font-size: 34px;
    font-weight: 600;
    color: #5a5959;
}
.cima-roda-pe i{
    margin: 50px;
    background-color: transparent;
}

#direitos{
    background-color: transparent;
}
#direitos p{
    padding: 20px;
    padding-right: 60px;
    text-align: end;
    color: #5a5959;
    background-color: transparent;
}







/*---------------------------MEDIA-QUERY-TABLET----------------------------*/


@media only screen and (max-width: 960px) {
    header{
        display: flex;
    }
    aside#header-esquerdo{
        margin: auto;
        height: 85%;
        width: 85%;
        background-color: rgba(255, 255, 255, 0.247);
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }
    aside#header-direito{
        display: flex;
    }
        #header-direito video{
            width: 960px;
        }
    #info{
        background-color: transparent;
    }
    
    #info strong#stg1{
        font-size: 3vw;
    }

    #info h3{
        margin-bottom: 20px;
        font-size: 2vw;
    }

    #info span{
        font-size: 2vw;
    }

button{
    background-color: #BE100F;
    color: #FFFFFF;
    font-size: 2vw;
}
    #logo-nome{
        background-color: transparent;
    }

    #logo-nome h1{
        background-color: transparent;
    }

    #logo-nome strong{
        background-color: transparent;
    }

    #info h2{
        background-color: transparent;
    }

    #info h3{
        background-color: transparent;
    }

    #info img{
        background-color: transparent;
    }

    #info span, strong{
        background-color: transparent;
    }


    section#barra-info-extra{
        width: 70%;
    }

    section#barra-info-extra h3{
        font-size: 3vw;
    }

    #info-professor h1{
        font-size: 5vw;
    }

    #info-professor h3{
        font-size: 2vw;
    }

    #quarta-sessao-topo h2{
        font-size: 5vw;
    }

    #quarta-sessao-topo h3{
        font-size: 2vw;
    }
    #btn-professor{
        background-color: #BE100F;
        font-size: 2vw;
    }

    #cabecalho-depoimento h2{
        font-size: 5vw;
    }

    .card-depoimento h3{
        font-size: 2vw;
    }
    #depoimento-escrito h4{
        font-size: 1.9vw;
    }
    
    img#left{
        width: 200px;
    }

    img#right{
        width: 200px;
    }

    span#cor{
        font-size: 5vw;
    }

    section#btn-cta h2{
        font-size: 5vw;
        line-height: 160%;
    }
}





/*---------------------------MEDIA-QUERY-TABLET----------------------------*/



@media only screen and (max-width: 800px){
        #logo-nome img{
            width: 40%;
        }
        
        #info strong#stg1{
            font-size: 3vw;
        }

        #info h3{
            margin-bottom: 20px;
            font-size: 2vw;
        }

        #info span{
            font-size: 14px;
        }

    
    #info-professor h3{
        font-size: 2vw;
        line-height: 145%;
    }
    #info-btn-maps h3{
        font-size: 2.5vw;
    }
    button#btn-professor{
        font-size: 2vw;
    }
    
    #depoimento-escrito h4{
        font-size: 2.2vw;
    }
}




/*---------------------------MEDIA-QUERY-MOBILE----------------------------*/



@media only screen and (max-width: 600px){
    header {
        height: 700px;
    }
    aside#header-esquerdo{
        margin: auto;
    }
    aside#header-direito{
        display: flex;
    }
        #header-direito video{
            height: 700px;
            object-fit: cover;
        }
    #info{
        margin: 25px;
        width: 615px;
        height: auto;
    }
        #logo-nome{
            margin-bottom: 30px;
        }
        #logo-nome img{
            width: 30%;
        }
        
        #info strong#stg1{
            font-size: 17px;
        }

        #info h3{
            margin-bottom: 20px;
            font-size: 13px;
        }

        #info span{
            font-size: 13px;
        }
        #info button{
            font-size: 2.5vw;
        }

    #info p{
        font-size: 1.7vw;
    }
    section#barra-info-extra{
        display: flex;
        flex-direction: column;
        margin-top: 0px;    
    }
    section#barra-info-extra h3{
        margin-top: 20px;
        font-size: 5vw;
    }
    section#area-info-professor{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
        #info-professor{
            width: 100%;
            align-items: center;
        }
        #info-professor h1{
            font-size: 7vw;
            text-align: center;
        }
        #info-professor h3{
            text-align: center;
            font-size: 13px;
            line-height: 145%;
        }
        #info-professor button{
            font-size: 2.5vw;
        }
        #img-professor{
            margin: 20px;
    }
    #quarta-sessao-topo{
        margin: 0px;
        margin-top: 40px;
    }
    #quarta-sessao-topo h2{
        font-size: 7vw;
    }
    #info-btn-maps h3{
        font-size: 13px;
    }
    #quadro-imgs{
        width: 200px;
        overflow: hidden;
        overflow-x: visible;
    }
    img.img-fb{
        margin: 5px;
        width: 140px;
    }
    #quarta-sessao-topo button{
        font-size: 2.5vw;
    }
    #duvidas h2{
        font-size: 7vw;
    }
    .accordion_header {
        font-size: 14px;
    }
    .accordion_content {
        font-size: 10px;
    }
    span#cor{
        font-size: 8vw;
    }
    #btn-cta h3{
        margin-top: 60px;
        font-size: 14px;
    }

    #turmas-box{
        height: 554px;
    }
        #bg-tintas{
            height: 604px;
        }

            img#left{
                width: 50vw;
            }

            img#right{
                display: none;
            }

        #turmas-depoimentos{
            top: -604px;
            
        }
        
        #cabecalho-depoimento h2{
            font-size: 7vw;
            font-weight: 500;
            margin-top: 60px;
        }
        
        #caixa-rolante{
            width: 100%;
            max-width: 680px;
            }

            .card-depoimento{
                width: 216px;
                height: 370px;

            }

                .card-depoimento video{
                    width: 212px;
                    height: 306px;
                }

                .card-depoimento footer{
                    width: 212px;
                    height: 75px;
                }
                .card-depoimento h3{
                    width: 80%;
                    height: 60px;
                    font-size: 13px;
                }

                #depoimento-escrito{
                    width: 212px;
                    height: 310px;
                }
                #depoimento-escrito img{
                    width: 50px;
                    height: 160px;
                }

                #depoimento-escrito h4{
                    font-size: 13px;
                    padding: 20px;
                    height: 250px;
                }

    section#btn-cta h2{
        line-height: 250%;
    }

    section#area-cta h2{
        font-size: 7vw;
        line-height: 170%;
        margin-top: 30px;
    }

    #btn-btn{
        font-size: 2vw;
    }

    .cima-roda-pe p{
        font-size: 5vw;
    }

    #redes{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    #redes i{
        margin: 20px;
    }

    #direitos p{
        display: flex;
        justify-content: center;
        font-size: 2.5vw;
        padding: 0;
        padding-bottom: 20px;
    }
}




/*---------------------------MEDIA-QUERY-MOBILE----------------------------*/



@media only screen and (max-width: 425px){


    #depoimento-escrito h4{
        font-size: 1.3vh;
    }
    #depoimento-escrito img{
        width: 50px;
        height: 160px;
    }


}




/*---------------------------MEDIA-QUERY-MOBILE----------------------------*/



@media only screen and (max-width: 390px){


    #depoimento-escrito h4{
        font-size: 1.5vh;
    }
    #depoimento-escrito img{
        width: 50px;
        margin-bottom: 10px;
    }

    button#btn-btn{
        font-size: 5vw;
    }

    #redes i{
        margin: 10px;
    }
}